<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D Point - Leaderboard</title>
    <style>
        * {
            font-family: monospace;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
        }
        .flex-col {
            display: flex;
            flex-direction: column;
        }
        .flex-grow {
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <div class="flex-col">
        <div class="flex-row">
            <div>D Point Leaderboard</div>
            <div class="flex-grow"></div>
            <div>{{ sync_state }}</div>
        </div>
    </div>
</body>
</html>