<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D-Point - Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="flex-col">
        <div class="flex-row">
            <div id="title">D-Point Leaderboard</div>
        </div>
        <div class="flex-col">
            {% for timedelta, user in timedelta_users %}
                <div class="flex-row">
                    <div class="score">{{ loop.index ~ ". " }}<b>{{ user.username|e }}</b> <i>with {{ timedelta.total_seconds() }} points.</i></div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
