<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D-Point - Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="flex-col">
        <div class="flex-row">
            <div id="title">D-Point Leaderboard (last 3 days)</div>
        </div>
        <div class="flex-col">
            {% for timedelta, user in timedeltas_users %}
                <div class="flex-row">
                    <div class="score">{{ loop.index ~ ". " }}<b><a href="/user/{{ user.username }}">{{ user.username }}</a></b> <i>with {{ timedelta.total_seconds() }} seconds on point ({{ user.captures|length }} captures).</i></div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
