<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username|e }} on D-Point CTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="flex-col">
        <div class="flex-row">
            <div class="{{ 'active' if active else 'not-active' }}"></div>
            <div id="title">{{ username|e }} has {{ total_time_on_point.total_seconds() }} seconds on point.</div>
            <div class="flex-grow"></div>
        </div>
        <div class="ruler"></div>
        {% for capture in captures %}
            <div class="flex-col">
                <div>[{{ capture.end.strftime("%d-%m-%y %H:%M:%S") }}]</div>
                <div>| {{ (capture.end - capture.start).total_seconds() }}s </div>
                <div>[{{ capture.start.strftime("%d-%m-%y %H:%M:%S") }}]</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>